<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoanShark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoanSharkMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">


</head>
<body class="darkBackground">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light darkBackground border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/LOAN SHARK TEXT Cropped2.png" width="120" /></a>
                <button class="navbar-toggler navbar-light-toggler custom-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" width="30"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ms-3">
                            <a class="nav-link text-light ls-button" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link text-light ls-button" asp-area="" asp-controller="Home" asp-action="App">Loan Calculator</a>
                        </li>
                        @*<li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="mb-5">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="darkBackground text-muted" id="footer">
        <div class="container">
            <div class="row pt-4 mt-lg-0 mb-lg-0">
                <div class="col-9 ps-lg-0 pt-1">
                    &copy; 2023 Loan Shark 
                    <a href="https://steveszymanski.com/" target="_blank"><img class="" src="~/img/SteveBannerDarkNameOnly.png" width="120" /></a>
                </div>
                <div class="col-3 pb-4 pt-1 text-center text-lg-end">
                    <a href="https://github.com/StevesGitRepo" target="_blank">
                        <i class="fab fa-github fa-2x pe-2 me-lg-4"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/steve-szymanski-245849238/"
                       target="_blank">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5db21ba9c6.js"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>Privacy
</html>
