@{
    ViewData["Title"] = "Home Page";
}

<main class="container-fluid darkBackground">
    <div class="container col-xxl-8 px-4 py-5 py-lg-1">
        <div class="row g-5 mt-lg-1 py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
                    <span class=""> LOAN SHARK </span>
                    Mortgage Calculator
                </h1>
                <h4 class="lead">
                    One step at a time, one loop at a time. A Javascript coding
                    exercise using loops. Write a program that displays the numbers 0
                    to 100. Display the even numbers in <strong>BOLD</strong>.
                </h4>
                <ul class="fa-ul pt-2 checklist checklistText">
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Fundamentals
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Loops
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Functions
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript DOM Manipulation
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript If/Then/Else
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>Javascript Boolean Logic
                    </li>
                </ul>
                <a type="button"
                   class="btn btn-outline-dark btn-lg px-4 me-md-2 button-ls-home mt-2"
                   asp-action="app.html">
                    <strong>Try It Out!</strong>
                </a>
                <h5 class="fw-bold mt-5">
                    <div class="d-flex">
                        <div class="row">
                            <div class="col">
                                <i class="fab fa-js-square fa-2x jsIcon"></i>
                            </div>
                            <div class="col">
                                <i class="fab fa-bootstrap fa-2x bsIcon"></i>
                            </div>
                            <div class="col">
                                <i class="fab fa-html5 fa-2x html5Icon"></i>
                            </div>
                            <div class="col">
                                <i class="fab fa-css3-alt fa-2x css3Icon"></i>
                            </div>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="col">
                <img src="img/LoanSharkNeonSquare.png"
                     class="img-fluid center-block d-block mx-auto"
                     alt="100 Steps Logo"
                     width="500"
                     height="500" />
            </div>
        </div>
    </div>
</main>

