@{
    ViewData["Title"] = "Home Page";
}
<body class="">
    <main class="container-fluid darkBackground">
        <div class="col-12 px-4 py-0 py-lg-2">
            <div class="row g-2 mt-lg-1 ms-lg-5 py-4 row-cols-1 row-cols-lg-2">
                <div class="col-12 col-lg-5 mt-lg-5 ms-lg-5 order-last order-lg-first">
                    <h1 class="display-5 fw-bold lh-1 mb-3 text-light text-start">Mortgage Calculator</h1>
                    <h4 class="lead me-lg-5 pe-lg-5">
                        A free mortgage calculator built with C#, ASP.NET and Model View Controller.
                    </h4>
                    <ul class="fa-ul pt-3 checklist checklistText">
                        <li class="mb-2">
                            <span class="fa-li"><i class="fas fa-check-square"></i></span>Add a home value
                        </li>
                        <li class="mb-2">
                            <span class="fa-li"><i class="fas fa-check-square"></i></span>Set a down payment
                        </li>
                        <li class="mb-2">
                            <span class="fa-li"><i class="fas fa-check-square"></i></span>Select a loan term
                        </li>
                        <li class="mb-2">
                            <span class="fa-li"><i class="fas fa-check-square"></i></span>Add an interest rate
                        </li>
                        <li class="mb-2">
                            <span class="fa-li"><i class="fas fa-check-square"></i></span>Calculate the payment
                        </li>
                        <li class="mb-2">
                            <span class="fa-li"><i class="fas fa-check-square"></i></span>See the life of the loan!
                        </li>
                    </ul>
                    <a type="button"
                       class="btn btn-outline-dark px-3 px-lg-2 btn-lg me-md-2 button-ls-home mt-3 mb-4 ms-3 ms-lg-0"
                       asp-area="" asp-controller="Home" asp-action="App">
                        <strong>Calculate your monthly payments</strong>
                    </a>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <div class="row mb-4 text-end">
                            <div class="col icon">
                                <i class="devicon-dot-net-plain-wordmark" title="ASP.NET"></i>
                            </div>
                            <div class="col icon">
                                <i class="devicon-csharp-plain-wordmark" title="C Sharp"></i>
                            </div>
                            <div class="col icon">
                                <i class="devicon-html5-plain" title="HTML5"></i>
                            </div>
                            <div class="col icon">
                                <i class="devicon-css3-plain" title="CSS3"></i>
                            </div>
                            <div class="col icon">
                                <i class="devicon-bootstrap-plain-wordmark" title="Bootstrap"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="img/LoanSharkNeonSquare.png"
                         class="img-fluid center-block d-block mx-auto"
                         alt="Loan Shark"
                         width="550"
                         height="550" />
                </div>
            </div>
        </div>
    </main>
</body>

