html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.body {
    color: var(--dark-color);
    height: 110%;
    width: 100%;
}

/*Loan Form Styles*/

.loanform {
    background-color: rgb(231, 231, 231);
}

    .loanform input {
        width: 100%;
        padding: .5rem;
    }

    .loanform button {
        float: right;
    }

#paymentTitle {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

#payment {
    text-align: center;
    font-size: 4.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0px -1px 20px #FF0099;
}

#loanBreakdown {
    text-align: center;
}

#tableheader {
    background-color: #2B404F;
}

#totalCost {
    font-weight: bold;
    text-shadow: 0px 0px 8px #FF0099;
}

.btn:focus {
    box-shadow: none;
}

.btn {
    border: 2px solid black;
    background-color: #fff;
}

:root {
    --primary-color: rgb(57, 45, 114);
    --secondary-color: #ff993b;
    --dark-color: #242424;
    --white-color: #e7e7e7;
    --silver-color: rgb(122, 143, 161);
    --logoBlue-color: rgb(125, 100, 250);
    --sinovaBlue-color: rgb(19, 205, 232);
    --lsbg-color: rgb(18, 14, 18);
    --lsBlueFont-color: #e1e3f4;
    --lsBlueCheck-color: rgb(32, 220, 255);
    --lsPinkFont-color: rgb(255, 141, 236);
    --lsDarkBlueFont-color: #a6ecff;
    --lsPink2-color: #FF66C4;
}


.brand-logo {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
}

.button-ls-home {
    background-color: rgb(242, 245, 247);
    color: rgb(30, 10, 94);
    border-radius: 16px;
}

    .button-ls-home:hover {
        box-shadow: 0px 0px 36px rgb(254 10 165);
    }

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--lsBlueFont-color);
}

.fab {
    color: var(--lsBlueCheck-color);
}

    .fab:hover {
        box-shadow: 0px 0px 20px rgb(254 10 165);
    }

    .fab:active {
        box-shadow: 0px 0px 20px rgb(250 250 250);
    }


.icon {
    font-size: 48px;
    color: rgb(254 10 165);
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .social > a {
    padding-right: 0rem;
    color: var(--white-color);
    opacity: 0.9;
}

    footer .social > a:hover {
        opacity: 1;
        color: var(--logoBlue-color);
    }

.footerContact {
    font-size: small;
}

.bsIcon {
    color: rgb(86, 61, 124);
}

.header {
    color: var(--lsBlueCheck-color)
}

.html5Icon {
    color: rgb(227, 76, 38);
}

.jsIcon {
    color: rgb(240, 219, 79);
}

.css3Icon {
    color: rgb(38, 77, 228);
}

.checklist > li i {
    color: var(--lsBlueCheck-color);
}

.checklistText {
    color: var(--lsBlueFont-color);
}

code[class*='language-'],
pre[class*='language-'] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main > .container {

    height: 100vh;
}

.darkBackground {
    background-color: var(--lsbg-color);
}

.nav-text {
    color: var(--lsBlueFont-color);
}

.navbar-light-toggler {
    background: var(--lsPink2-color);
    box-shadow: 0px 0px 0px rgb(250 250 250);
}

.navbar-light-toggler:active {
    background: white;
}

.ls-button:hover {
    text-shadow: 0px 0px 4px #FF0099;
}

.ls-button:active {
    text-shadow: 0px 0px 4px white;
}