html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Loan Form Styles*/

.loanform {
    background-color: rgb(231, 231, 231);
}

.loanform input {
    width: 100%;
    padding: .5rem;
}

.loanform button {
    float: right;
}

#paymentTitle {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

#payment {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #2B404F;
}

#loanBreakdown {
    text-align: center;
}

#tableheader {
    background-color: #2B404F;
}

#totalCost {
    font-weight: bold;
}

.btn:focus{
    box-shadow: none;
}

.btn {
    border: 2px solid black;
    background-color: #fff;
}

/*BLUE BUTTON*/

.btn-lsBlue {
    border-color: blue;
    color:blue
}

.btn-lsBlue:hover {
    background-color: blue;
    color: white;
}

.btn-lsBlue:active {
    opacity: .6;
}

:root {
    --primary-color: rgb(57, 45, 114);
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #e7e7e7;
    --silver-color: rgb(122, 143, 161);
    --logoBlue-color: rgb(125, 100, 250);
    --sinovaBlue-color: rgb(19, 205, 232);
    --lsbg-color: rgb(16, 16, 16);
    --lsBlueFont-color: #e1e3f4;
    --lsPinkFont-color: #ff66c4;
    --lsDarkBlueFont-color: #a6ecff;
}

body {
    color: var(--dark-color);
}

.brand-logo {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 600;
}

.button-ls-home {
    background-color: var(--lsPinkFont-color);
    color:aliceblue;
    box-shadow: aliceblue 10px 10px ;
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--lsBlueFont-color);
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .social > a {
    padding-right: 0rem;
    color: var(--white-color);
    opacity: 0.9;
}

    footer .social > a:hover {
        opacity: 1;
        color: var(--logoBlue-color);
    }

.footerContact {
    font-size: small;
}

.bsIcon {
    color: rgb(86, 61, 124);
}

.html5Icon {
    color: rgb(227, 76, 38);
}

.jsIcon {
    color: rgb(240, 219, 79);
}

.css3Icon {
    color: rgb(38, 77, 228);
}

.checklist > li i {
    color: var(--lsPinkFont-color);
}

.checklistText {
    color: var(--lsBlueFont-color);
}

code[class*='language-'],
pre[class*='language-'] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main > .container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.darkBackground {
    background-color: var(--lsbg-color);
}
